<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <meta charset="UTF-8">
    <title>Mes habitudes</title>
</head>
<body>
    <h1>Tu t'ennuie ? Je te propose de laisser le hasard te trouver une activité ;)</h1>
    <div id="app">
        <random-activity></random-activity>
        <button>J'ajoute une activité</button>
        <!-- <my-component></my-component> -->
        <!--<add-habit-form></add-habit-form>-->
        <!-- <addHabitForm></addHabitForm> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% load static %}
    <script type="module" src="{% static 'vue.js' %}"></script>
</body>
</html>